{% extends "base.html" %}

{% load static %}
{% block content %}
    <h1>{{ route.name }} ({{ route.start_date | date:"d.m.Y" }} - {{ route.end_date | date:"d.m.Y" }})</h1>
    <div class="row">
        <h4>Общая информация</h4>
        <p>{{ route.description }}</p>
        <ul class="margin-left-20">
            <li>Дата и время начала поездки: {{ route.start_date | date:"d M Y, H:i" }}</li>
            <li>Дата и время окончания поездки: {{ route.end_date | date:"d M Y, H:i" }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-11">
            <h4>Маршрут</h4>
            <div id="map" style="width: 100%; height: 50vh"></div>
        </div>
        <div class="col-md-1">
            <h4>Пункты</h4>
            <a href="/route/{{ route.id }}/add-waypoint">Добавить</a>
            <ol class="">
                {% for i in waypoints %}
                    <li class="way-point">{{ i.name }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <h4>Мероприятия</h4>
        <a href="/route/{{ route.id }}/event/add">Добавить</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Пункт</th>
                    <th scope="col">Время начала</th>
                    <th scope="col">Время завершения</th>
                    <th scope="col">Описание</th>
                </tr>
            </thead>
            <tbody>
            {% for i in events %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.waypoint.name }}</td>
                    <td>{{ i.start_date | date:"d M, H:i" }}</td>
                    <td>{{ i.end_date | date:"d M, H:i" }}</td>
                    <td>{{ i.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h4>Участники</h4>
        <a href="/route/{{ route.id }}/member/add">Пригласить</a>
        <ul class="margin-left-20">
            <li>Иван (организатор)</li>
            {% for member in members %}
                <li>
                    {{ member.user.first_name }}
                    {% if member.is_joined %}
                        (заявка принята)
                    {% else %}
                        (заявка не принята)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h4>Расчёт времени</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Время</th>
                    <th scope="col">Расстояние</th>
                </tr>
            </thead>
            <tbody id="timing-tbody">
            {% for i in timing %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>Мероприятие</td>
                    <td>{{ i.duration | date:"H ч i мин" }}</td>
                    <td>-</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2">Общее время на мероприятиях</td>
                    <td>{{ total_time | date:"H ч i мин" }}</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
{#    <div class="row">#}
{#        <a href="/route/{{ route.id }}/print">Версия для печати</a>#}
{#    </div>#}

    <script src="{% static "js/route.js" %}"></script>
{% endblock %}
